* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


body {
    font-size: 1.6rem;
    width: 100%;
}

a {
    text-decoration: none;
}

.header-top h2 {
    font-size: 2.4rem;
    color: #F9FAF8;
    display: flex;
    margin-right: auto;
}

.header-container h1 {
    font-size: 4.8rem;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 4.5rem;
    margin-bottom: 1rem;
}

.header a {
    color: #E5E7EB;
    font-size: 1.8rem;
}

.header p {
    color: #E5E7EB;
}

.header {
    background: #1F2937;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.header-top ul {
    list-style: none;
    display: flex;
}

.header li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-container {
    display: flex;
    width: 75%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin: 0 auto;
    align-items: center;
    gap: 10rem;
}

.header-container button {
    background: #3882F6;
    border: none;
    padding: 1rem;
    width: 20rem;
    border-radius: 5rem;
    color: #E5E7EB;
    font-weight: bold;
    margin-top: 1rem;
}

.header-container div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin-right: auto;
}

.header-container img {
    width: 40rem;
    height: auto;
}

.main-container img {
    width: 30rem;
    height: auto;
    border: .5rem #3882F6 solid;
    border-radius: 1rem;
}

#random-info {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#random-info h2 {
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    padding: 5rem;
    margin: 0 auto;
    width: 75%;
    gap: 5rem;
    text-align: center;
}

#blockquote {
    background: #E5E7EB;
    font-size: 3.6rem;
    font-style: italic;
    color: #1F2937;
    width: 100%;
}

#blockquote div {
    width: 50%;
    margin: 0 auto;
    padding: 10rem;
}

#blockquote span {
    font-weight: 900;
    font-size: 2rem;
    display: block;
    position: relative;
    left: 50rem;
}